<h2>📗 Nouveau livre ajouté</h2>

<p><strong>Titre :</strong> {{ livre.titre }}</p>
<p><strong>Auteur :</strong> {{ livre.auteur.nom }} {{ livre.auteur.prenom }}</p>
<p><strong>Genre :</strong> {{ livre.genre.nom }}</p>
<p><strong>ISBN :</strong> {{ livre.isbn }}</p>
<p><strong>Nombre de pages :</strong> {{ livre.nbPages }}</p>
<p><strong>Ajouté par :</strong> {{ user.pseudo }}</p>